
Supp.Site/bin/*
Supp.Site/obj/*
Supp.ServiceHost/bin/*
Supp.ServiceHost/obj/*
c#/Tools/bin/*
c#/Tools/obj/*
c#/AboutBoxProject/AboutBox/obj/Debug/AboutBox.csproj.FileListAbsolute.txt
c#/AboutBoxProject/AboutBox/obj/Debug/AboutBox.csprojAssemblyReference.cache
c#/Tools/ExecutionQueue/bin/Debug/Resources/About.ico
c#/Tools/ExecutionQueue/bin/Debug/Resources/About.png
c#/Tools/ExecutionQueue/bin/Debug/Resources/Fonts/Byom-Icons-Trial.ttf
c#/Tools/ExecutionQueue/bin/Debug/Resources/Fonts/Cafed_v2.ttf
c#/Tools/ExecutionQueue/bin/Debug/Resources/Fonts/PAPYRUS.TTF
c#/Tools/ExecutionQueue/bin/Debug/Resources/Fonts/We Spray.ttf
c#/Tools/ExecutionQueue/bin/Debug/Resources/Fonts/WEBDINGS.TTF
c#/Tools/ExecutionQueue/obj/Debug/ExecutionQueue.csproj.FileListAbsolute.txt
c#/Tools/ExecutionQueue/obj/Debug/ExecutionQueue.csprojAssemblyReference.cache
c#/Tools/SyncIpService/bin/Debug/Resources/About.ico
c#/Tools/SyncIpService/bin/Debug/Resources/About.png
c#/Tools/SyncIpService/bin/Debug/Resources/Fonts/Byom-Icons-Trial.ttf
c#/Tools/SyncIpService/bin/Debug/Resources/Fonts/Cafed_v2.ttf
c#/Tools/SyncIpService/bin/Debug/Resources/Fonts/PAPYRUS.TTF
c#/Tools/SyncIpService/bin/Debug/Resources/Fonts/We Spray.ttf
c#/Tools/SyncIpService/bin/Debug/Resources/Fonts/WEBDINGS.TTF
c#/Tools/SyncIpService/obj/Debug/SyncIp.csproj.FileListAbsolute.txt
c#/Tools/SyncIpService/obj/Debug/SyncIp.csprojAssemblyReference.cache
Supp.ServiceHost/.vs/Supp.ServiceHost/DesignTimeBuild/.dtbcache.v2
c#/Tools/.vs/Tools/v16/.suo
Supp.ServiceHost/.vs/Supp.ServiceHost/v16/.suo
Supp.Site/.vs/Supp.Site/DesignTimeBuild/.dtbcache.v2
Supp.Site/.vs/Supp.Site/v16/.suo
c#/AboutBoxProject/AboutBox/obj/Debug/AboutBox.csproj.FileListAbsolute.txt
c#/Tools/ExecutionQueue/bin/Debug/Resources/About.ico
c#/Tools/ExecutionQueue/bin/Debug/Resources/About.png
c#/Tools/ExecutionQueue/bin/Debug/Resources/Fonts/Byom-Icons-Trial.ttf
c#/Tools/ExecutionQueue/bin/Debug/Resources/Fonts/Cafed_v2.ttf
c#/Tools/ExecutionQueue/bin/Debug/Resources/Fonts/PAPYRUS.TTF
c#/Tools/ExecutionQueue/bin/Debug/Resources/Fonts/We Spray.ttf
c#/Tools/ExecutionQueue/bin/Debug/Resources/Fonts/WEBDINGS.TTF
c#/Tools/ExecutionQueue/obj/Debug/ExecutionQueue.csproj.FileListAbsolute.txt
c#/Tools/ExecutionQueue/obj/Debug/ExecutionQueue.csprojAssemblyReference.cache
c#/Tools/SyncIpService/bin/Debug/Resources/About.ico
c#/Tools/SyncIpService/bin/Debug/Resources/About.png
c#/Tools/SyncIpService/bin/Debug/Resources/Fonts/Byom-Icons-Trial.ttf
c#/Tools/SyncIpService/bin/Debug/Resources/Fonts/Cafed_v2.ttf
c#/Tools/SyncIpService/bin/Debug/Resources/Fonts/PAPYRUS.TTF
c#/Tools/SyncIpService/bin/Debug/Resources/Fonts/We Spray.ttf
c#/Tools/SyncIpService/bin/Debug/Resources/Fonts/WEBDINGS.TTF
c#/Tools/SyncIpService/obj/Debug/SyncIp.csproj.FileListAbsolute.txt
c#/Tools/SyncIpService/obj/Debug/SyncIp.csprojAssemblyReference.cache
Supp.ServiceHost/.vs/Supp.ServiceHost/DesignTimeBuild/.dtbcache.v2
c#/Tools/.vs/Tools/v16/.suo
Supp.ServiceHost/.vs/Supp.ServiceHost/v16/.suo
Supp.Site/.vs/Supp.Site/DesignTimeBuild/.dtbcache.v2
Supp.Site/.vs/Supp.Site/v16/.suo
Supp.Site/.vs/Supp.Site/DesignTimeBuild/.dtbcache.v2
Supp.Site/.vs/Supp.Site/v16/.suo
*.v2
