
Supp.Site/bin/*/*
Supp.Site/obj/*/*
Supp.ServiceHost/bin/*/*
Supp.ServiceHost/obj/*/*
c#/Tools/bin/*/*
c#/Tools/obj/*/*
c#/AboutBoxProject/AboutBox/obj/*/*
c#/AboutBoxProject/AboutBox/bin/*/*
c#/Tools/Common/obj/*/*
c#/Tools/Common/bin/*/*
c#/Tools/ExecutionQueue/bin/*/*
c#/Tools/ExecutionQueue/obj/*/*
c#/Tools/SyncIpService/bin/*/*
c#/Tools/SyncIpService/obj/*/*
Supp.ServiceHost/.vs/*/*
c#/Tools/.vs/*/*
Supp.Site/.vs/*/*
c#/Tools/ExecutionQueue/bin/*/*
c#/Tools/ExecutionQueue/obj/*/*
c#/Tools/MessagesPopUp/obj/*/*
c#/Tools/MessagesPopUp/bin/*/*
c#/Tools/RepositionSpeech/obj/*/*
c#/Tools/RepositionSpeech/bin/*/*
*.v2
*.cache
*.suo
