
Supp.Site/.vs/Supp.Site/DesignTimeBuild/.dtbcache.v2
Supp.Site/bin/Release/netcoreapp3.1/Supp.Site.dll
Supp.Site/bin/Release/netcoreapp3.1/Supp.Site.pdb
Supp.Site/bin/Release/netcoreapp3.1/Supp.Site.Views.dll
Supp.Site/bin/Release/netcoreapp3.1/Supp.Site.Views.pdb
Supp.Site/obj/Debug/netcoreapp3.1/Supp.Site.assets.cache
Supp.Site/obj/Debug/netcoreapp3.1/Supp.Site.csprojAssemblyReference (1).cache
Supp.Site/obj/project.assets.json
Supp.Site/obj/project.nuget.cache
Supp.Site/obj/Release/netcoreapp3.1/PubTmp/Out/Supp.Site.dll
Supp.Site/obj/Release/netcoreapp3.1/PubTmp/Out/Supp.Site.pdb
Supp.Site/obj/Release/netcoreapp3.1/PubTmp/Out/Supp.Site.Views.dll
Supp.Site/obj/Release/netcoreapp3.1/PubTmp/Out/Supp.Site.Views.pdb
Supp.Site/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/css/bootstrap-select.css
Supp.Site/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/css/PagedList.css
Supp.Site/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/css/site.css
Supp.Site/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/Files (1)/Ehi.mp3
Supp.Site/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/Files (1)/hollow-582.mp3
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/Accounts/ChangePassword.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/Accounts/Create.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/Accounts/DisableAccount.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/Accounts/EnableAccount.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/Accounts/RemoveAccount.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/Accounts/ResetPassword.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/Authentications/Create.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/Authentications/Delete.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/Authentications/Details.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/Authentications/Edit.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/Authentications/Index.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/ExecutionQueues/Create.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/ExecutionQueues/Delete.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/ExecutionQueues/Details.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/ExecutionQueues/Edit.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/ExecutionQueues/Index.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/GoogleDriveAccounts/Create.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/GoogleDriveAccounts/Delete.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/GoogleDriveAccounts/Details.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/GoogleDriveAccounts/Edit.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/GoogleDriveAccounts/Index.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/GoogleDriveAuths/Create.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/GoogleDriveAuths/Delete.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/GoogleDriveAuths/Details.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/GoogleDriveAuths/Edit.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/GoogleDriveAuths/Index.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/Home/Login.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/HubData/DashBoard.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/Media/Create.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/Media/Delete.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/Media/Details.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/Media/Edit.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/Media/GetStructureMedia.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/Media/Index.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/Media/MediaBox.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/MediaConfigurations/Create.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/MediaConfigurations/Delete.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/MediaConfigurations/Details.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/MediaConfigurations/Edit.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/MediaConfigurations/Index.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/UserRoles/Create.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/UserRoles/Delete.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/UserRoles/Details.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/UserRoles/Edit.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/UserRoles/Index.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/UserRoleTypes/Create.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/UserRoleTypes/Delete.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/UserRoleTypes/Details.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/UserRoleTypes/Edit.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/UserRoleTypes/Index.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/Users/Create.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/Users/Delete.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/Users/Details.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/Users/Edit.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/Users/Index.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/WebSpeeches/Create.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/WebSpeeches/Delete.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/WebSpeeches/Details.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/WebSpeeches/Edit.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/WebSpeeches/Index.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Razor/Views/WebSpeeches/Recognition.cshtml.g.cs
Supp.Site/obj/Release/netcoreapp3.1/Supp.Site.csproj.CoreCompileInputs.cache
Supp.Site/obj/Release/netcoreapp3.1/Supp.Site.csprojAssemblyReference.cache
Supp.Site/obj/Release/netcoreapp3.1/Supp.Site.dll
Supp.Site/obj/Release/netcoreapp3.1/Supp.Site.pdb
Supp.Site/obj/Release/netcoreapp3.1/Supp.Site.Views.dll
Supp.Site/obj/Release/netcoreapp3.1/Supp.Site.Views.pdb
Supp.Site/obj/Supp.Site.csproj.nuget.g.props
