<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Apis" version="1.55.0" targetFramework="net46" />
  <package id="Google.Apis.Auth" version="1.55.0" targetFramework="net46" requireReinstallation="true" />
  <package id="Google.Apis.Calendar.v3" version="1.55.0.2500" targetFramework="net46" />
  <package id="Google.Apis.Core" version="1.55.0" targetFramework="net46" />
  <package id="Google.Apis.Drive.v3" version="1.55.0.2502" targetFramework="net472" />
  <package id="Google.Apis.Keep.v1" version="1.55.0.2371" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net46" />
  <package id="NLog" version="4.7.13" targetFramework="net46" />
  <package id="NLog.Config" version="4.7.13" targetFramework="net46" />
  <package id="NLog.Schema" version="4.7.13" targetFramework="net46" />
</packages>