@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <div style="float:right; margin-right:30px; width:100px;">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>
        <div style="float:right; margin-right:30px; width:100px;">
            <a href="logout" target="_blank" class="ml-md-auto">Logout</a>
        </div>
    </div>


    <div class="content px-4">
        @Body
    </div>
</div>
