
@namespace Supp.Site.Views.PlcData

<link href="~/css/table.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="~/js/SuppUtility.js"></script>
<script src="~/js/GoogleCharts.js"></script>

@using Supp.Site.Controllers;

@{
    ViewData["Title"] = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var culture = HomeController.Culture;
}

@using (Html.BeginForm("PlcDataList", "PlcData", FormMethod.Get))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <h1>@ViewData["Title"]</h1>

    <hr />

    <div>
        <div id="ChartAndTableContainer"></div>

    </div>

    <div class="text-danger" style="padding:30px;">
        @Html.ValidationSummary(false)
    </div>
}
