body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.select {
    color: #000;
    background-color: #1b6ec2;
    border-color: #1b6ec2;
    border: 1px;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
}

body {
    background-color: #000;
    color: #555;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

a {
    color: #555;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #555;
    }

    a:hover {
        background-color: #c7d1d6;
    }

header, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #777;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    color: #666;
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }


/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    max-width: 960px;
}

.main-content {
    background: url("../Images/accent.png") no-repeat;
    padding-left: 10px;
    padding-top: 30px;
}

.featured + .main-content {
    background: url("../Images/heroAccent.png") no-repeat;
}

header .content-wrapper {
    padding-top: 20px;
}

/* site title
----------------------------------------------------------*/
.site-title {
    color: #c8c8c8;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 0;
}

    .site-title a, .site-title a:hover, .site-title a:active {
        background: none;
        color: #c8c8c8;
        outline: none;
        text-decoration: none;
    }


/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: .85em;
    margin: 0 0 10px;
    text-align: right;
}

    #login a {
        background-color: #d3dce0;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }

        #login a.username {
            background: none;
            margin: 0;
            padding: 0;
            text-decoration: underline;
        }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }


/* menu
----------------------------------------------------------*/
ul#menu {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    text-align: right;
}

    ul#menu li {
        display: inline;
        list-style: none;
        padding-left: 15px;
    }

        ul#menu li a {
            background: none;
            color: #999;
            text-decoration: none;
        }

            ul#menu li a:hover {
                color: #333;
                text-decoration: none;
            }


/* page elements
----------------------------------------------------------*/
/* featured */
.featured {
    background-color: #000;
}

    .featured .content-wrapper {
        background-color: #7ac0da;
        background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
        background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        color: #3e5667;
        padding: 20px 40px 30px 40px;
    }

    .featured hgroup.title h1, .featured hgroup.title h2 {
        color: #000;
    }

    .featured p {
        font-size: 1.1em;
    }

/* page titles */
hgroup.title {
    margin-bottom: 10px;
}

    hgroup.title h1, hgroup.title h2 {
        display: inline;
    }

    hgroup.title h2 {
        font-weight: normal;
        margin-left: 3px;
    }

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

/* ordered list */
ol.round {
    list-style-type: none;
    padding-left: 0;
}

    ol.round li {
        margin: 25px 0;
        padding-left: 45px;
    }

        ol.round li.zero {
            background: url("../Images/orderedList0.png") no-repeat;
        }

        ol.round li.one {
            background: url("../Images/orderedList1.png") no-repeat;
        }

        ol.round li.two {
            background: url("../Images/orderedList2.png") no-repeat;
        }

        ol.round li.three {
            background: url("../Images/orderedList3.png") no-repeat;
        }

        ol.round li.four {
            background: url("../Images/orderedList4.png") no-repeat;
        }

        ol.round li.five {
            background: url("../Images/orderedList5.png") no-repeat;
        }

        ol.round li.six {
            background: url("../Images/orderedList6.png") no-repeat;
        }

        ol.round li.seven {
            background: url("../Images/orderedList7.png") no-repeat;
        }

        ol.round li.eight {
            background: url("../Images/orderedList8.png") no-repeat;
        }

        ol.round li.nine {
            background: url("../Images/orderedList9.png") no-repeat;
        }

/* content */
article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

    aside ul {
        list-style: none;
        padding: 0;
    }

        aside ul li {
            background: url("../Images/bullet.png") no-repeat 0 50%;
            padding: 2px 0 2px 20px;
        }

.label {
    font-weight: 700;
}

/* login page */
#loginForm {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 55%;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

    #loginForm .validation-summary-errors ul {
        margin: 0;
        padding: 0;
    }

    #loginForm .validation-summary-errors li {
        display: inline;
        list-style: none;
        margin: 0;
    }

    #loginForm input {
        width: 250px;
    }

        #loginForm input[type="checkbox"],
        #loginForm input[type="submit"],
        #loginForm input[type="button"],
        #loginForm button {
            width: auto;
        }

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

    #socialLoginForm h2 {
        margin-bottom: 5px;
    }

#socialLoginList button {
    margin-bottom: 12px;
}

#logoutForm {
    display: inline;
}

/* contact */
.contact h3 {
    font-size: 1.2em;
}

.contact p {
    margin: 5px 0 0 10px;
}

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

/* forms */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

label {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
}

    label.checkbox {
        display: inline;
    }

input, textarea {
    border: 1px solid #222;
    background: #000;
    color: #555;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 300px;
}

.textBoxCustom {
    background: #000;
    border: 1px solid #222;
    color: #fff;
}

.menuCustom {
    background: #000;
    border: 1px solid #222;
    color: #fff;
}

.nav-item:hover {
    background: #040404;
    color: #fff;
}

.nav-link:hover {
    background: #0f0f0f;
    color: #fff;
}

.border-top {
    border-top-color: #111;
    color: #111;
}

.form-control:focus {
    border: 1px solid #444;
    background: #222;
    color: #fff;
}

textarea {
    font-family: inherit;
    width: 500px;
}

    input:focus, textarea:focus {
        border: 1px solid #444;
        background: #222;
        color: #fff;
    }

input[type="checkbox"] {
    background: transparent;
    border: inherit;
    width: auto;
}

input[type="submit"],
input[type="button"],
button {
    background-color: #000;
    border: 1px solid #787878;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    padding: 7px;
    margin-right: 8px;
    width: auto;
    color: #d3dce0;
}

td input[type="submit"],
td input[type="button"],
td button {
    font-size: 1em;
    padding: 4px;
    margin-right: 4px;
}

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}


/* tables
----------------------------------------------------------*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    border: 0 none;
    color: #555;
}

th {
    font-size: 1.2em;
    text-align: left;
    border: none 0px;
    padding-left: 0;
}

    th a {
        display: block;
        position: relative;
    }

        th a:link, th a:visited, th a:active, th a:hover {
            color: #555;
            font-weight: 600;
            text-decoration: none;
            padding: 0;
        }

        th a:hover {
            color: #777;
        }

    th.asc a, th.desc a {
        margin-right: .75em;
    }

        th.asc a:after, th.desc a:after {
            display: block;
            position: absolute;
            right: 0em;
            top: 0;
            font-size: 0.75em;
        }

        th.asc a:after {
            content: '▲';
        }

        th.desc a:after {
            content: '▼';
        }

td {
    padding: 0.25em 2em 0.25em 0em;
    border: 0 none;
    color: #999;
}

tr.pager td {
    padding: 0 0.25em 0 0;
}


/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {

    /* header
    ----------------------------------------------------------*/
    header .float-left,
    header .float-right {
        float: none;
    }

    /* logo */
    header .site-title {
        margin: 10px;
        text-align: center;
    }

    /* login */
    #login {
        font-size: .85em;
        margin: 0 0 12px;
        text-align: center;
    }

        #login ul {
            margin: 5px 0;
            padding: 0;
        }

        #login li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #login a {
            background: none;
            color: #999;
            font-weight: 600;
            margin: 2px;
            padding: 0;
        }

            #login a:hover {
                color: #555;
            }

    /* menu */
    nav {
        margin-bottom: 5px;
    }

    ul#menu {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        ul#menu li {
            margin: 0;
            padding: 0;
        }


    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }

    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper {
        padding: 10px;
    }

    /* page content */
    article, aside {
        float: none;
        width: 100%;
    }

    /* ordered list */
    ol.round {
        list-style-type: none;
        padding-left: 0;
    }

        ol.round li {
            padding-left: 10px;
            margin: 25px 0;
        }

            ol.round li.zero,
            ol.round li.one,
            ol.round li.two,
            ol.round li.three,
            ol.round li.four,
            ol.round li.five,
            ol.round li.six,
            ol.round li.seven,
            ol.round li.eight,
            ol.round li.nine {
                background: none;
            }

    /* features */
    section.feature {
        float: none;
        padding: 10px;
        width: auto;
    }

        section.feature img {
            color: #999;
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }

    /* forms */
    input {
        width: 90%;
    }

    /* login page */
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #000;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #000;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .55rem .95rem rgba(0, 0, 0, .09);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.tableValue {
    background-color: #000;
    color: #555;
    font-weight:normal;
    font-size: .95em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.listbox {
    border: solid;
    border-width: 1px;
    color: #000;
    background-color: #1b6ec2;
    border-color: #1b6ec2;
    font-size: 16px;
}

.dropdown-divider {
    background-color: #333;
}

.multiselect-container {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 150px;
    overflow: auto;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5), -1px -1px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.5), -1px -1px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.5), -1px -1px 5px rgba(0,0,0,0.3);
    overflow: auto;
    white-space: nowrap;
    width: 100%;
    min-width: 300px;
    max-width: 500px;
    font-size: 10px;
}

.btn-dark {
    color: #eee;
    background-color: #000;
    border-color: #222;
}

.btn-dark:hover {
    color: #fff;
    background-color: #23272b;
    border-color: #4d4144;
}

.btn-dark:focus, .btn-dark.focus {
    color: #fff;
    background-color: #23272b;
    border-color: #4d4144;
    box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}

.btn-dark.disabled, .btn-dark:disabled {
    color: #aaa;
    background-color: #343a40;
    border-color: #222;
}

.btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active,
.show > .btn-dark.dropdown-toggle {
    color: #fff;
    background-color: #4d4144;
    border-color: #171a1d;
}

.btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-dark.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}

.ellipse-dark {
    fill: #000;
}

.ellipse-dark:hover {
    fill: #111;
}

.ellipse-dark:focus, .ellipse-dark.focus {
    fill: #222;
}

.ellipse-dark.disabled, .ellipse-dark:disabled {
    fill: #222;
}

.ellipse-dark:not(:disabled):not(.disabled):active, .ellipse-dark:not(:disabled):not(.disabled).active,
.show > .ellipse-dark.dropdown-toggle {
    fill: #222;
}

.ellipse-dark:not(:disabled):not(.disabled):active:focus, .ellipse-dark:not(:disabled):not(.disabled).active:focus,
.show > .ellipse-dark.dropdown-toggle:focus {
    fill: #222;
}

.shortcut-dark {
    opacity: 0.6;
}

.shortcut-dark:hover {
    opacity: 1;
}

.shortcut-dark:focus, .shortcut-dark.focus {
    opacity: 0.8;
}

.shortcut-dark.disabled, .shortcut-dark:disabled {
    opacity: 0.8;
}

.shortcut-dark:not(:disabled):not(.disabled):active, .shortcut-dark:not(:disabled):not(.disabled).active,
.show > .shortcut-dark.dropdown-toggle {
    opacity: 0.8;
}

.shortcut-dark:not(:disabled):not(.disabled):active:focus, .shortcut-dark:not(:disabled):not(.disabled).active:focus,
.show > .shortcut-dark.dropdown-toggle:focus {
    opacity: 0.8;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1b6ec2;
    border-radius: 10px;
}

#ex1Slider .slider-selection {
    background: #0478b2;
}

.slider-track-high {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: absolute;
    background: #222;
}

.slider.slider-horizontal {
    width: 200px;
    height: 20px;
}

.playerCommand-dark {
    opacity: 0.6;
    background-image: none;
    background-color: #000;
}

    .playerCommand-dark:hover {
        opacity: 1;
    }

    .playerCommand-dark:focus, .playerCommand-dark.focus {
        opacity: 0.8;
    }

    .playerCommand-dark.disabled, .playerCommand-dark:disabled {
        opacity: 0.8;
    }

    .playerCommand-dark:not(:disabled):not(.disabled):active, .playerCommand-dark:not(:disabled):not(.disabled).active,
    .show > .playerCommand-dark.dropdown-toggle {
        opacity: 0.8;
    }

        .playerCommand-dark:not(:disabled):not(.disabled):active:focus, .playerCommand-dark:not(:disabled):not(.disabled).active:focus,
        .show > .playerCommand-dark.dropdown-toggle:focus {
            opacity: 0.8;
        }






.progress {
    width: 160px;
    height: 160px;
    line-height: 160px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}

    .progress:after {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 5px solid #4d4d4d;
        position: absolute;
        top: 0;
        left: 0;
    }

    .progress > span {
        width: 50%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        z-index: 1;
    }

    .progress .progress-left {
        left: 0;
    }

    .progress .progress-bar {
        width: 100%;
        height: 100%;
        background: none;
        border-width: 5px;
        border-style: solid;
        position: absolute;
        top: 0;
        border-color: #88f2a9;
    }

    .progress .progress-left .progress-bar {
        left: 100%;
        border-top-right-radius: 80px;
        border-bottom-right-radius: 80px;
        border-left: 0;
        -webkit-transform-origin: center left;
        transform-origin: center left;
    }

    .progress .progress-right {
        right: 0;
    }

        .progress .progress-right .progress-bar {
            left: -100%;
            border-top-left-radius: 80px;
            border-bottom-left-radius: 80px;
            border-right: 0;
            -webkit-transform-origin: center right;
            transform-origin: center right;
        }

    .progress .progress-value {
        display: flex;
        border-radius: 50%;
        font-size: 1rem;
        text-align: center;
        line-height: 20px;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        font-weight: 300;
    }

        .progress .progress-value span {
            font-size: 54px;
            text-transform: uppercase;
        }

    /* This for loop creates the necessary css animation names 
Due to the split circle of progress-left and progress right, we must use the animations on each side. 
*/
    .progress[data-percentage="1"] .progress-right .progress-bar {
        animation: loading-1 0.5s linear forwards;
    }

    .progress[data-percentage="1"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="2"] .progress-right .progress-bar {
        animation: loading-2 0.5s linear forwards;
    }

    .progress[data-percentage="2"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="3"] .progress-right .progress-bar {
        animation: loading-3 0.5s linear forwards;
    }

    .progress[data-percentage="3"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="4"] .progress-right .progress-bar {
        animation: loading-4 0.5s linear forwards;
    }

    .progress[data-percentage="4"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="5"] .progress-right .progress-bar {
        animation: loading-5 0.5s linear forwards;
    }

    .progress[data-percentage="5"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="6"] .progress-right .progress-bar {
        animation: loading-6 0.5s linear forwards;
    }

    .progress[data-percentage="6"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="7"] .progress-right .progress-bar {
        animation: loading-7 0.5s linear forwards;
    }

    .progress[data-percentage="7"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="8"] .progress-right .progress-bar {
        animation: loading-8 0.5s linear forwards;
    }

    .progress[data-percentage="8"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="9"] .progress-right .progress-bar {
        animation: loading-9 0.5s linear forwards;
    }

    .progress[data-percentage="9"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="10"] .progress-right .progress-bar {
        animation: loading-10 0.5s linear forwards;
    }

    .progress[data-percentage="10"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="11"] .progress-right .progress-bar {
        animation: loading-11 0.5s linear forwards;
    }

    .progress[data-percentage="11"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="12"] .progress-right .progress-bar {
        animation: loading-12 0.5s linear forwards;
    }

    .progress[data-percentage="12"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="13"] .progress-right .progress-bar {
        animation: loading-13 0.5s linear forwards;
    }

    .progress[data-percentage="13"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="14"] .progress-right .progress-bar {
        animation: loading-14 0.5s linear forwards;
    }

    .progress[data-percentage="14"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="15"] .progress-right .progress-bar {
        animation: loading-15 0.5s linear forwards;
    }

    .progress[data-percentage="15"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="16"] .progress-right .progress-bar {
        animation: loading-16 0.5s linear forwards;
    }

    .progress[data-percentage="16"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="17"] .progress-right .progress-bar {
        animation: loading-17 0.5s linear forwards;
    }

    .progress[data-percentage="17"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="18"] .progress-right .progress-bar {
        animation: loading-18 0.5s linear forwards;
    }

    .progress[data-percentage="18"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="19"] .progress-right .progress-bar {
        animation: loading-19 0.5s linear forwards;
    }

    .progress[data-percentage="19"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="20"] .progress-right .progress-bar {
        animation: loading-20 0.5s linear forwards;
    }

    .progress[data-percentage="20"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="21"] .progress-right .progress-bar {
        animation: loading-21 0.5s linear forwards;
    }

    .progress[data-percentage="21"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="22"] .progress-right .progress-bar {
        animation: loading-22 0.5s linear forwards;
    }

    .progress[data-percentage="22"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="23"] .progress-right .progress-bar {
        animation: loading-23 0.5s linear forwards;
    }

    .progress[data-percentage="23"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="24"] .progress-right .progress-bar {
        animation: loading-24 0.5s linear forwards;
    }

    .progress[data-percentage="24"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="25"] .progress-right .progress-bar {
        animation: loading-25 0.5s linear forwards;
    }

    .progress[data-percentage="25"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="26"] .progress-right .progress-bar {
        animation: loading-26 0.5s linear forwards;
    }

    .progress[data-percentage="26"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="27"] .progress-right .progress-bar {
        animation: loading-27 0.5s linear forwards;
    }

    .progress[data-percentage="27"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="28"] .progress-right .progress-bar {
        animation: loading-28 0.5s linear forwards;
    }

    .progress[data-percentage="28"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="29"] .progress-right .progress-bar {
        animation: loading-29 0.5s linear forwards;
    }

    .progress[data-percentage="29"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="30"] .progress-right .progress-bar {
        animation: loading-30 0.5s linear forwards;
    }

    .progress[data-percentage="30"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="31"] .progress-right .progress-bar {
        animation: loading-31 0.5s linear forwards;
    }

    .progress[data-percentage="31"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="32"] .progress-right .progress-bar {
        animation: loading-32 0.5s linear forwards;
    }

    .progress[data-percentage="32"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="33"] .progress-right .progress-bar {
        animation: loading-33 0.5s linear forwards;
    }

    .progress[data-percentage="33"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="34"] .progress-right .progress-bar {
        animation: loading-34 0.5s linear forwards;
    }

    .progress[data-percentage="34"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="35"] .progress-right .progress-bar {
        animation: loading-35 0.5s linear forwards;
    }

    .progress[data-percentage="35"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="36"] .progress-right .progress-bar {
        animation: loading-36 0.5s linear forwards;
    }

    .progress[data-percentage="36"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="37"] .progress-right .progress-bar {
        animation: loading-37 0.5s linear forwards;
    }

    .progress[data-percentage="37"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="38"] .progress-right .progress-bar {
        animation: loading-38 0.5s linear forwards;
    }

    .progress[data-percentage="38"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="39"] .progress-right .progress-bar {
        animation: loading-39 0.5s linear forwards;
    }

    .progress[data-percentage="39"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="40"] .progress-right .progress-bar {
        animation: loading-40 0.5s linear forwards;
    }

    .progress[data-percentage="40"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="41"] .progress-right .progress-bar {
        animation: loading-41 0.5s linear forwards;
    }

    .progress[data-percentage="41"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="42"] .progress-right .progress-bar {
        animation: loading-42 0.5s linear forwards;
    }

    .progress[data-percentage="42"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="43"] .progress-right .progress-bar {
        animation: loading-43 0.5s linear forwards;
    }

    .progress[data-percentage="43"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="44"] .progress-right .progress-bar {
        animation: loading-44 0.5s linear forwards;
    }

    .progress[data-percentage="44"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="45"] .progress-right .progress-bar {
        animation: loading-45 0.5s linear forwards;
    }

    .progress[data-percentage="45"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="46"] .progress-right .progress-bar {
        animation: loading-46 0.5s linear forwards;
    }

    .progress[data-percentage="46"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="47"] .progress-right .progress-bar {
        animation: loading-47 0.5s linear forwards;
    }

    .progress[data-percentage="47"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="48"] .progress-right .progress-bar {
        animation: loading-48 0.5s linear forwards;
    }

    .progress[data-percentage="48"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="49"] .progress-right .progress-bar {
        animation: loading-49 0.5s linear forwards;
    }

    .progress[data-percentage="49"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="50"] .progress-right .progress-bar {
        animation: loading-50 0.5s linear forwards;
    }

    .progress[data-percentage="50"] .progress-left .progress-bar {
        animation: 0;
    }

    .progress[data-percentage="51"] .progress-right .progress-bar {
        animation: loading-50 0.5s linear forwards;
    }

    .progress[data-percentage="51"] .progress-left .progress-bar {
        animation: loading-1 0.5s linear forwards 0.5s;
    }

    .progress[data-percentage="52"] .progress-right .progress-bar {
        animation: loading-50 0.5s linear forwards;
    }

    .progress[data-percentage="52"] .progress-left .progress-bar {
        animation: loading-2 0.5s linear forwards 0.5s;
    }

    .progress[data-percentage="53"] .progress-right .progress-bar {
        animation: loading-50 0.5s linear forwards;
    }

    .progress[data-percentage="53"] .progress-left .progress-bar {
        animation: loading-3 0.5s linear forwards 0.5s;
    }

    .progress[data-percentage="54"] .progress-right .progress-bar {
        animation: loading-50 0.5s linear forwards;
    }

    .progress[data-percentage="54"] .progress-left .progress-bar {
        animation: loading-4 0.5s linear forwards 0.5s;
    }

    .progress[data-percentage="55"] .progress-right .progress-bar {
        animation: loading-50 0.5s linear forwards;
    }

    .progress[data-percentage="55"] .progress-left .progress-bar {
        animation: loading-5 0.5s linear forwards 0.5s;
    }

    .progress[data-percentage="56"] .progress-right .progress-bar {
        animation: loading-50 0.5s linear forwards;
    }

    .progress[data-percentage="56"] .progress-left .progress-bar {
        animation: loading-6 0.5s linear forwards 0.5s;
    }

    .progress[data-percentage="57"] .progress-right .progress-bar {
        animation: loading-50 0.5s linear forwards;
    }

    .progress[data-percentage="57"] .progress-left .progress-bar {
        animation: loading-7 0.5s linear forwards 0.5s;
    }

    .progress[data-percentage="58"] .progress-right .progress-bar {
        animation: loading-50 0.5s linear forwards;
    }

    .progress[data-percentage="58"] .progress-left .progress-bar {
        animation: loading-8 0.5s linear forwards 0.5s;
    }

    .progress[data-percentage="59"] .progress-right .progress-bar {
        animation: loading-50 0.5s linear forwards;
    }

    .progress[data-percentage="59"] .progress-left .progress-bar {
        animation: loading-9 0.5s linear forwards 0.5s;
    }

    .progress[data-percentage="60"] .progress-right .progress-bar {
        animation: loading-50 0.5s linear forwards;
    }

    .progress[data-percentage="60"] .progress-left .progress-bar {
        animation: loading-10 0.5s linear forwards 0.5s;
    }

    .progress[data-percentage="61"] .progress-right .progress-bar {
        animation: loading-50 0.5s linear forwards;
    }

    .progress[data-percentage="61"] .progress-left .progress-bar {
        animation: loading-11 0.5s linear forwards 0.5s;
    }

    .progress[data-percentage="62"] .progress-right .progress-bar {
        animation: loading-50 0.5s linear forwards;
    }

    .progress[data-percentage="62"] .progress-left .progress-bar {
        animation: loading-12 0.5s linear forwards 0.5s;
    }

    .progress[data-percentage="63"] .progress-right .progress-bar {
        animation: loading-50 0.5s linear forwards;
    }

    .progress[data-percentage="63"] .progress-left .progress-bar {
        animation: loading-13 0.5s linear forwards 0.5s;
    }

    .progress[data-percentage="64"] .progress-right .progress-bar {
        animation: loading-50 0.5s linear forwards;
    }

    .progress[data-percentage="64"] .progress-left .progress-bar {
        animation: loading-14 0.5s linear forwards 0.5s;
    }

    .progress[data-percentage="65"] .progress-right .progress-bar {
        animation: loading-50 0.5s linear forwards;
    }

    .progress[data-percentage="65"] .progress-left .progress-bar {
        animation: loading-15 0.5s linear forwards 0.5s;
    }

    .progress[data-percentage="66"] .progress-right .progress-bar {
        animation: loading-50 0.5s linear forwards;
    }

    .progress[data-percentage="66"] .progress-left .progress-bar {
        animation: loading-16 0.5s linear forwards 0.5s;
    }

    .progress[data-percentage="67"] .progress-right .progress-bar {
        animation: loading-50 0.5s linear forwards;
    }

    .progress[data-percentage="67"] .progress-left .progress-bar {
        animation: loading-17 0.5s linear forwards 0.5s;
    }

    .progress[data-percentage="68"] .progress-right .progress-bar {
        animation: loading-50 0.5s linear forwards;
    }

    .progress[data-percentage="68"] .progress-left .progress-bar {
        animation: loading-18 0.5s linear forwards 0.5s;
    }

    .progress[data-percentage="69"] .progress-right .progress-bar {
        animation: loading-50 0.5s linear forwards;
    }

    .progress[data-percentage="69"] .progress-left .progress-bar {
        animation: loading-19 0.5s linear forwards 0.5s;
    }

    .progress[data-percentage="70"] .progress-right .progress-bar {
        animation: loading-50 0.5s linear forwards;
    }

    .progress[data-percentage="70"] .progress-left .progress-bar {
        animation: loading-20 0.5s linear forwards 0.5s;
    }

    .progress[data-percentage="71"] .progress-right .progress-bar {
        animation: loading-50 0.5s linear forwards;
    }

    .progress[data-percentage="71"] .progress-left .progress-bar {
        animation: loading-21 0.5s linear forwards 0.5s;
    }

    .progress[data-percentage="72"] .progress-right .progress-bar {
        animation: loading-50 0.5s linear forwards;
    }

    .progress[data-percentage="72"] .progress-left .progress-bar {
        animation: loading-22 0.5s linear forwards 0.5s;
    }

    .progress[data-percentage="73"] .progress-right .progress-bar {
        animation: loading-50 0.5s linear forwards;
    }

    .progress[data-percentage="73"] .progress-left .progress-bar {
        animation: loading-23 0.5s linear forwards 0.5s;
    }

    .progress[data-percentage="74"] .progress-right .progress-bar {
        animation: loading-50 0.5s linear forwards;
    }

    .progress[data-percentage="74"] .progress-left .progress-bar {
        animation: loading-24 0.5s linear forwards 0.5s;
    }

    .progress[data-percentage="75"] .progress-right .progress-bar {
        animation: loading-50 0.5s linear forwards;
    }

    .progress[data-percentage="75"] .progress-left .progress-bar {
        animation: loading-25 0.5s linear forwards 0.5s;
    }

    .progress[data-percentage="76"] .progress-right .progress-bar {
        animation: loading-50 0.5s linear forwards;
    }

    .progress[data-percentage="76"] .progress-left .progress-bar {
        animation: loading-26 0.5s linear forwards 0.5s;
    }

    .progress[data-percentage="77"] .progress-right .progress-bar {
        animation: loading-50 0.5s linear forwards;
    }

    .progress[data-percentage="77"] .progress-left .progress-bar {
        animation: loading-27 0.5s linear forwards 0.5s;
    }

    .progress[data-percentage="78"] .progress-right .progress-bar {
        animation: loading-50 0.5s linear forwards;
    }

    .progress[data-percentage="78"] .progress-left .progress-bar {
        animation: loading-28 0.5s linear forwards 0.5s;
    }

    .progress[data-percentage="79"] .progress-right .progress-bar {
        animation: loading-50 0.5s linear forwards;
    }

    .progress[data-percentage="79"] .progress-left .progress-bar {
        animation: loading-29 0.5s linear forwards 0.5s;
    }

    .progress[data-percentage="80"] .progress-right .progress-bar {
        animation: loading-50 0.5s linear forwards;
    }

    .progress[data-percentage="80"] .progress-left .progress-bar {
        animation: loading-30 0.5s linear forwards 0.5s;
    }

    .progress[data-percentage="81"] .progress-right .progress-bar {
        animation: loading-50 0.5s linear forwards;
    }

    .progress[data-percentage="81"] .progress-left .progress-bar {
        animation: loading-31 0.5s linear forwards 0.5s;
    }

    .progress[data-percentage="82"] .progress-right .progress-bar {
        animation: loading-50 0.5s linear forwards;
    }

    .progress[data-percentage="82"] .progress-left .progress-bar {
        animation: loading-32 0.5s linear forwards 0.5s;
    }

    .progress[data-percentage="83"] .progress-right .progress-bar {
        animation: loading-50 0.5s linear forwards;
    }

    .progress[data-percentage="83"] .progress-left .progress-bar {
        animation: loading-33 0.5s linear forwards 0.5s;
    }

    .progress[data-percentage="84"] .progress-right .progress-bar {
        animation: loading-50 0.5s linear forwards;
    }

    .progress[data-percentage="84"] .progress-left .progress-bar {
        animation: loading-34 0.5s linear forwards 0.5s;
    }

    .progress[data-percentage="85"] .progress-right .progress-bar {
        animation: loading-50 0.5s linear forwards;
    }

    .progress[data-percentage="85"] .progress-left .progress-bar {
        animation: loading-35 0.5s linear forwards 0.5s;
    }

    .progress[data-percentage="86"] .progress-right .progress-bar {
        animation: loading-50 0.5s linear forwards;
    }

    .progress[data-percentage="86"] .progress-left .progress-bar {
        animation: loading-36 0.5s linear forwards 0.5s;
    }

    .progress[data-percentage="87"] .progress-right .progress-bar {
        animation: loading-50 0.5s linear forwards;
    }

    .progress[data-percentage="87"] .progress-left .progress-bar {
        animation: loading-37 0.5s linear forwards 0.5s;
    }

    .progress[data-percentage="88"] .progress-right .progress-bar {
        animation: loading-50 0.5s linear forwards;
    }

    .progress[data-percentage="88"] .progress-left .progress-bar {
        animation: loading-38 0.5s linear forwards 0.5s;
    }

    .progress[data-percentage="89"] .progress-right .progress-bar {
        animation: loading-50 0.5s linear forwards;
    }

    .progress[data-percentage="89"] .progress-left .progress-bar {
        animation: loading-39 0.5s linear forwards 0.5s;
    }

    .progress[data-percentage="90"] .progress-right .progress-bar {
        animation: loading-50 0.5s linear forwards;
    }

    .progress[data-percentage="90"] .progress-left .progress-bar {
        animation: loading-40 0.5s linear forwards 0.5s;
    }

    .progress[data-percentage="91"] .progress-right .progress-bar {
        animation: loading-50 0.5s linear forwards;
    }

    .progress[data-percentage="91"] .progress-left .progress-bar {
        animation: loading-41 0.5s linear forwards 0.5s;
    }

    .progress[data-percentage="92"] .progress-right .progress-bar {
        animation: loading-50 0.5s linear forwards;
    }

    .progress[data-percentage="92"] .progress-left .progress-bar {
        animation: loading-42 0.5s linear forwards 0.5s;
    }

    .progress[data-percentage="93"] .progress-right .progress-bar {
        animation: loading-50 0.5s linear forwards;
    }

    .progress[data-percentage="93"] .progress-left .progress-bar {
        animation: loading-43 0.5s linear forwards 0.5s;
    }

    .progress[data-percentage="94"] .progress-right .progress-bar {
        animation: loading-50 0.5s linear forwards;
    }

    .progress[data-percentage="94"] .progress-left .progress-bar {
        animation: loading-44 0.5s linear forwards 0.5s;
    }

    .progress[data-percentage="95"] .progress-right .progress-bar {
        animation: loading-50 0.5s linear forwards;
    }

    .progress[data-percentage="95"] .progress-left .progress-bar {
        animation: loading-45 0.5s linear forwards 0.5s;
    }

    .progress[data-percentage="96"] .progress-right .progress-bar {
        animation: loading-50 0.5s linear forwards;
    }

    .progress[data-percentage="96"] .progress-left .progress-bar {
        animation: loading-46 0.5s linear forwards 0.5s;
    }

    .progress[data-percentage="97"] .progress-right .progress-bar {
        animation: loading-50 0.5s linear forwards;
    }

    .progress[data-percentage="97"] .progress-left .progress-bar {
        animation: loading-47 0.5s linear forwards 0.5s;
    }

    .progress[data-percentage="98"] .progress-right .progress-bar {
        animation: loading-50 0.5s linear forwards;
    }

    .progress[data-percentage="98"] .progress-left .progress-bar {
        animation: loading-48 0.5s linear forwards 0.5s;
    }

    .progress[data-percentage="99"] .progress-right .progress-bar {
        animation: loading-50 0.5s linear forwards;
    }

    .progress[data-percentage="99"] .progress-left .progress-bar {
        animation: loading-49 0.5s linear forwards 0.5s;
    }

    .progress[data-percentage="100"] .progress-right .progress-bar {
        animation: loading-50 0.5s linear forwards;
    }

    .progress[data-percentage="100"] .progress-left .progress-bar {
        animation: loading-50 0.5s linear forwards 0.5s;
    }

@keyframes loading-1 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(3.6);
        transform: rotate(3.6deg);
    }
}

@keyframes loading-2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(7.2);
        transform: rotate(7.2deg);
    }
}

@keyframes loading-3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(10.8);
        transform: rotate(10.8deg);
    }
}

@keyframes loading-4 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(14.4);
        transform: rotate(14.4deg);
    }
}

@keyframes loading-5 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(18);
        transform: rotate(18deg);
    }
}

@keyframes loading-6 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(21.6);
        transform: rotate(21.6deg);
    }
}

@keyframes loading-7 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(25.2);
        transform: rotate(25.2deg);
    }
}

@keyframes loading-8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(28.8);
        transform: rotate(28.8deg);
    }
}

@keyframes loading-9 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(32.4);
        transform: rotate(32.4deg);
    }
}

@keyframes loading-10 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(36);
        transform: rotate(36deg);
    }
}

@keyframes loading-11 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(39.6);
        transform: rotate(39.6deg);
    }
}

@keyframes loading-12 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(43.2);
        transform: rotate(43.2deg);
    }
}

@keyframes loading-13 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(46.8);
        transform: rotate(46.8deg);
    }
}

@keyframes loading-14 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(50.4);
        transform: rotate(50.4deg);
    }
}

@keyframes loading-15 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(54);
        transform: rotate(54deg);
    }
}

@keyframes loading-16 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(57.6);
        transform: rotate(57.6deg);
    }
}

@keyframes loading-17 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(61.2);
        transform: rotate(61.2deg);
    }
}

@keyframes loading-18 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(64.8);
        transform: rotate(64.8deg);
    }
}

@keyframes loading-19 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(68.4);
        transform: rotate(68.4deg);
    }
}

@keyframes loading-20 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(72);
        transform: rotate(72deg);
    }
}

@keyframes loading-21 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(75.6);
        transform: rotate(75.6deg);
    }
}

@keyframes loading-22 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(79.2);
        transform: rotate(79.2deg);
    }
}

@keyframes loading-23 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(82.8);
        transform: rotate(82.8deg);
    }
}

@keyframes loading-24 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(86.4);
        transform: rotate(86.4deg);
    }
}

@keyframes loading-25 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(90);
        transform: rotate(90deg);
    }
}

@keyframes loading-26 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(93.6);
        transform: rotate(93.6deg);
    }
}

@keyframes loading-27 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(97.2);
        transform: rotate(97.2deg);
    }
}

@keyframes loading-28 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(100.8);
        transform: rotate(100.8deg);
    }
}

@keyframes loading-29 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(104.4);
        transform: rotate(104.4deg);
    }
}

@keyframes loading-30 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(108);
        transform: rotate(108deg);
    }
}

@keyframes loading-31 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(111.6);
        transform: rotate(111.6deg);
    }
}

@keyframes loading-32 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(115.2);
        transform: rotate(115.2deg);
    }
}

@keyframes loading-33 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(118.8);
        transform: rotate(118.8deg);
    }
}

@keyframes loading-34 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(122.4);
        transform: rotate(122.4deg);
    }
}

@keyframes loading-35 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(126);
        transform: rotate(126deg);
    }
}

@keyframes loading-36 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(129.6);
        transform: rotate(129.6deg);
    }
}

@keyframes loading-37 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(133.2);
        transform: rotate(133.2deg);
    }
}

@keyframes loading-38 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(136.8);
        transform: rotate(136.8deg);
    }
}

@keyframes loading-39 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(140.4);
        transform: rotate(140.4deg);
    }
}

@keyframes loading-40 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(144);
        transform: rotate(144deg);
    }
}

@keyframes loading-41 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(147.6);
        transform: rotate(147.6deg);
    }
}

@keyframes loading-42 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(151.2);
        transform: rotate(151.2deg);
    }
}

@keyframes loading-43 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(154.8);
        transform: rotate(154.8deg);
    }
}

@keyframes loading-44 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(158.4);
        transform: rotate(158.4deg);
    }
}

@keyframes loading-45 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(162);
        transform: rotate(162deg);
    }
}

@keyframes loading-46 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(165.6);
        transform: rotate(165.6deg);
    }
}

@keyframes loading-47 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(169.2);
        transform: rotate(169.2deg);
    }
}

@keyframes loading-48 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(172.8);
        transform: rotate(172.8deg);
    }
}

@keyframes loading-49 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(176.4);
        transform: rotate(176.4deg);
    }
}

@keyframes loading-50 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(180);
        transform: rotate(180deg);
    }
}