@model Supp.Models.MediaConfigurationDto

@{
    ViewData["Title"] = "Edit Media Configuration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        @if (Model != null)
        {
            <form asp-action="Edit"><input type="hidden" asp-for="Id" /><input type="hidden" asp-for="InsDateTime" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" /><input type="hidden" asp-for="InsDateTime" />
            <div class="form-group">
                <label asp-for="Users.FirstOrDefault().UserFullName" class="control-label"></label>
                @Html.DropDownListFor(x => x.UserId, new SelectList(Model.Users, "Id", "UserFullName", Model.UserId), "-- Select --", new { @class = "select" })
                @Html.ValidationMessageFor(x => x.UserId)
            </div>
            <div class="form-group">
                <label asp-for="MaxThumbnailSize" class="control-label"></label>
                <input asp-for="MaxThumbnailSize" class="form-control textBoxCustom" />
                <span asp-validation-for="MaxThumbnailSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinThumbnailSize" class="control-label"></label>
                <input asp-for="MinThumbnailSize" class="form-control textBoxCustom" />
                <span asp-validation-for="MinThumbnailSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<div class="text-danger" style="padding:30px;">
    @Html.ValidationSummary(false)
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
