@using static Supp.Site.Common.Config;
@using System.Collections.Generic;
@using System;
@using Newtonsoft.Json;
@using Supp.Site.Common;

@{
    ViewBag.Title = "Home Page";
    ViewData["Title"] = ViewBag.Title;
}

<div class="content-wrapper" style="margin-top:100px;"> 
    <hgroup class="title">
        <h2>@ViewBag.Message</h2>
    </hgroup>
</div>

<div class="text-danger" style="padding:30px;">
    @{
        var suppUtility = new SuppUtility();
        string errorsFromCookie = suppUtility.ReadCookie(Context.Request, GeneralSettings.Constants.SuppSiteErrorsCookieName);

        if (errorsFromCookie == null) { errorsFromCookie = String.Empty; }
        var errors = JsonConvert.DeserializeObject<List<string>>(errorsFromCookie);
    }

    @if (errors != null)
    {
        <ul>
            @foreach (var error in errors as List<string>)
            {
                <li>@Html.Raw(error)</li>
            }
        </ul>
    }

    @{
        suppUtility.RemoveCookie(Context.Response, Context.Request, GeneralSettings.Constants.SuppSiteErrorsCookieName);
    }
</div>