<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup>
    <appSettings>
        <add key="controlKey" value="Insert,NumPad0" />
        <add key="keyUp" value="Up" />
        <add key="KeyDown" value="Down" />
        <add key="SleepOfTheQueueServiceInMilliseconds" value="300" />
		<add key="SleepOfTheSyncIpServiceInMilliseconds" value="1000" />
        <add key="TimeToClosePopUpInMilliseconds" value="20000" />
		<add key="HookKey" value="true" />
		<add key="QueueService" value="true" />
		<add key="SyncIpService" value="false" />
		<add key="Speech" value="true" />
		<add key="LimitLogFileInMB" value="50" />
		
		<!--EV-PC-->
		<add key="Host" value="EV-PC" />
        <add key="SuppDatabaseConnection" value="Data Source=EV-TB,1433\SQLEXPRESS;Initial Catalog=Supp.DataBase; user id=Admin;password=Enilno.00;" />
		<!--EV-PC local-->
        <add key="_SuppDatabaseConnection" value="Data Source=localhost;Initial Catalog=Supp.DataBase; user id=Admin;password=Enilno.00;" />
		<!--EV-TB-->
		<add key="_Host" value="EV-TB" />
		<add key="__SuppDatabaseConnection" value="Data Source=localhost\SQLEXPRESS;Initial Catalog=Supp.DataBase; user id=Admin;password=Enilno.00;" />

        <!--Speech-->
		<add key="ShowTimeout" value="30000" />
		<add key="FullScreen" value="true" />
		<add key="AlwaysShow" value="true" />
		<add key="WindowWidth" value="530" />
		<add key="WindowHeight" value="600" />
		<add key="WindowCaption" value="Box" />
		<add key="BrowserPath" value="C:\Program Files (x86)\Google\Chrome\Application" />
		<add key="BrowserExeName" value="chrome.exe" />
		<add key="Username" value="Admin" />
		<add key="Password" value="Enilno.00" />
		<add key="_WebAddress" value="https://192.168.1.105:83/WebSpeeches/Recognition" />
		<add key="WebAddress" value="https://localhost:44388/WebSpeeches/Recognition" />
		<add key="WebAddressParamsSeparatedWithComma" value="_username=daniele.marassi@gmail.com,_password=Enilno.00,_application=true,_alwaysShow=true" />
		<!--Speech-->
    </appSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
