<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="C:\Temp\Logs\MairDSCommon.NLog.Troubleshooting.txt"
      internalLogLevel="Off"
      throwExceptions="true"
      autoReload="true">

  <extensions>
    <add assembly="Mair.DS.Common"/>
  </extensions>

  <variable name="startingPath" value="C:\Temp\Logs"/>
  <variable name="mainProductName" value="MairDSCommon"/>
  <variable name="developmentContextFolder" value=""/>
  <variable name="mainDir" value="${startingPath}\${developmentContextFolder}\${mainProductName}"/>
  <variable name="commonLayout" value="${longdate}  ${level:upperCase=true:padding=-5}  ${pad:padding=-5:inner=[${threadid}]}  ${logger:padding=-60}  ${message}  ${exception:format=Message}  ${exception:format=StackTrace}" />

  <targets>
    <target name="mainLog" xsi:type="File" fileName="${mainDir}\_current.MairDSCommon.log" />
    <target name="coloredConsole" xsi:type="AsyncWrapper">
      <target name="coloredConsoleWrapped" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
              layout="${time}|${pad:padding=5:inner=${level:uppercase=true}}|${message}" >
        <highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkYellow" />
        <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
        <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
        <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
        <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
        <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
      </target>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="coloredConsole" />
    <logger name="*" minlevel="Trace" writeTo="mainLog" />
  </rules>
</nlog>